<%- include('./parts/head') %>
    <%- include('./parts/header') %>

        <div id="chat_row" class="row mt-5">
            <div id="connect_window" class="d-none d-lg-block col-lg-2">
                Connect :
            </div>
            <div id="chat_window" class="col">

                <ul id="messages_container" class="list-unstyled">
                    <!-- parts/ message.ejs -->
                    <% datas.messages.forEach(function(message, index){ %>
                        <%- include('parts/message', {post : message, i : index}); %>
                            <% }); %>
                </ul>

            </div>
            <div id="users_window" class="col-lg-2">
                Users list :
                <% console.log(users); %>
                <% users.forEach(function(item, index){ %>
                    <%- include('parts/user', {u : item, i : index}); %>
                        <% }); %>
            </div>
        </div>

        <%- include('./parts/footer') %>